.id
auto-save-list/
bookmarks
frame-positions.el
minibuffer-history.el
places.el
Preferences
Recent\ Files.el

Packages/.nosearch
Packages/.recentf
Packages/.smex-items
Packages/ac-comphist.dat
Packages/backup
Packages/cider-history
Packages/elpa/archives
Packages/eshell/
Packages/places
Packages/projectile-bookmarks.eld
Packages/url/cache/

snippets/yasnippet-golang

